pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/v-vikris@microsoft.com/adfdemonotebook"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "filename",
					"value": {
						"value": "@{activity('Notebook1').output.runOutput}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"runid": {
				"type": "string"
			},
			"pipelineid": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-03-31T18:40:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}